body {
  background-color: $belize-hole;
}

a, a:hover {
  text-decoration: none;
}

code {
  background: $wet-asphalt;
  color: $clouds;
}

.thumbnail {
  background-color: $clouds;
  // border-color: $silver;
  border: none;
  // box-shadow: none;

  .caption {
    color: $midnight-blue;
  }
}

.panel {
  &.panel-default {
    border: none;

    .panel-heading {
      background: $midnight-blue;
      color: $nephritis;

      h2.panel-title {
        @include Lato-Bold;
      }
    }
    .panel-body {
      background: $clouds;
    }
    .panel-footer {
      border: none;
      background: $silver;
    }
  }
}